PORT =

# jwt
JWT_EXPIRES_DAY=7d
JWT_SECRET=

# database
DATABASE =
DATABASE_PASSWORD =

# google cloud專案資料
GOOGLE_AUTH_CLIENTID =
GOOGLE_AUTH_CLIENT_SECRET=
# gmail 授權碼
GOOGLE_AUTH_REFRESH_TOKEN=
#mail
MAIL_SENDER=

# frontend url
FRONTEND_URL=

SWAGGER_HOST=

# signature url
SIGNATURE_KEY=

# Firebase KEY
FIREBASE_URL =
FIREBASE_TYPE =
FIREBASE_PROJECT_ID =
FIREBASE_PRIVATE_KEY_ID =
FIREBASE_PRIVATE_KEY =
FIREBASE_CLIENT_EMAIL =
FIREBASE_CLIENT_ID =
FIREBASE_AUTH_URI =
FIREBASE_TOKEN_URI =
FIREBASE_AUTH_PROVIDER_X509_CERT_URL =
FIREBASE_CLIENT_X509_CERT_URL =
FIREBASE_UNIVERSE_DOMAIN =

# 藍新金流 Key
MERCHANT_ID =
NEWEBPAY_HASH_KEY =
NEWEBPAY_HASH_IV =
VERSION = 2.0